@import 'src/styles/vars';

.button {
    padding: 10px 20px;
    margin: auto;
    border: none;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFA800;
}

.button.login {
    color: #FFA800;
    border-radius: 15px;
}

.button.login:hover {
    color: $play_red;
}

.button.next {
    color: $play_red;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    width: 100px;
}

.button.previous {
    color: $play_red;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    width: 100px;
}

.button.next:hover {
    background-color: #D9BB80;
    color: black;
}

.button.previous:hover {
    background-color: #D9BB80;
    color: black;
}

.button.return {
    background-color: transparent;
    border: solid 5px black;
    border-radius: 100%;
    color: black;
    padding: 0;
    margin: auto;
}

.button-icon {
    margin: 4px;
    display: flex;
    align-items: center;
}



/* .button.disabled {
  background-color: gray;
  color: gray;
  cursor: not-allowed;
} */