/* Login and registration form */

.login-registration-form {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.login,
.registration {
    position: relative;
}

.login:after,
.registration:after {
    content: '';
    background: var(--black);
    position: absolute;
    top: 0;
    width: 50%;
    height: 1px;
}

/* Login form */

.login:after {
    right: 0;
}

/* Registration form */

.registration:after {
    left: 0;
}

/* Profile form */

.profile {
    padding: 0;
}

.profile-button-container {
    display: flex;
    gap: 10px;
}

/* Success/error messages */

.statusCode-200,
.statusCode-204 {
    font-size: 1.5rem;
    color: var(--green);
}

.statusCode-error {
    font-size: 1.5rem;
    color: var(--red);
}