.profile-title {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-title button {
    display: flex;
    gap: 10px;
    font-size: .8rem;
}

.profile-container {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile-container h3,
.profile-container h4 {
    text-align: left;
    color: var(--orange);
}