$primary_red: #9C0902;
$play_red: #ff0048;
$play_red_shade: #e20845;
$play_yellow: #fabc43;
$play_green: #91ae8f;
$play_blue: #5394a7;
$play_brown: #d3a383;
$play_grey: #747373;
$play_dark: #4d4c4c;
$play_lgrey: #bfbdbd;
$play_white: #ffffff;
$play_shadow: #00000014;
$play_vlgrey: #F9F9F9;
$play_black: #000000;



.round-image {
    width: 100%;
    height: auto;
    border-radius: 20%;
    padding: 10px;
    object-fit: cover;
    max-width: 300px; 
}
.small-round-image {
    width: auto;
    height: auto;
    border-radius: 50%;
    padding: auto;
    object-fit: cover;
    max-width: 150px; 
    max-height: 150px;
    margin:auto;
}
.return-button {
    background-color: transparent;
    color: $play_white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1;
    margin: 10px;
}