$dark: #1d1d1d;
$darkbluegreen: #273b40;
$lightbluegreen: #208c8c;
$light: #cae9ae;
$grey: #3c4748;
$metal: #AAA9AD;
$gold: #DBAC34;

.round-image {
    width: 100%;
    height: auto;
    border-radius: 20%;
    padding: 10px;
    object-fit: cover;
    max-width: 300px; 
}
.small-round-image {
    width: auto;
    height: auto;
    border-radius: 50%;
    padding: auto;
    object-fit: cover;
    max-width: 150px; 
    max-height: 150px;
    margin:auto;
}
.submit-button{
    width: 250px;
    height: 40px;
    background-color: $lightbluegreen;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1;

}
.return-button {
    background-color: transparent;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1;
    margin: 10px;
}