@import 'src/styles/vars';

.modal {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $darkbluegreen;
    font-size: 1em;
    font-weight: 500;
    padding: 20px;
    color: $lightbluegreen;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modal h3 {
    color: $gold;
    }


.modal-content {
    display: flex;
    flex-direction: column;
}

.modal-image-container {
    position: relative;
}

.modal img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.favorite-button,
.collection-button {
    position: absolute;
    background: transparent;
    color: white;
    border: none;
    padding-top: 16px;
    cursor: pointer;
    font-size: 1.2em;
    z-index: 10;
}

.favorite-button {
    top: 10px;
    left: 10px;
}

.collection-button {
    top: 10px;
    right: 10px;
}

.modal-bottom {
    flex-grow: 1;
}