@import 'src/styles/vars';

.header {
    background-color: $lightbluegreen;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: auto;
    color: $metal;
    text-align: center;
    padding: 10px 20px;
    font-size: 28px;
    z-index: 1;

    a {
        text-decoration: none;
        color: inherit;
        font-size: 24px;
        display: flex;
        align-items: center;

        svg {
            margin-right: 8px;
        }
    }

    h1 {
        color: $gold;
        font-size: 48px;
        margin: 0;
        padding: 10px;
    }

    p {
        color: $darkbluegreen;
        font-size: 16px;
        margin: 10px 0;
    }
        .dark-mode-button {
        background-color: transparent;
        border: none;
        margin: auto;
        }
}

nav {
    position: relative;
}

.dropdown-menu {
    display: inline-block;
    padding: 10px 46px;
    margin-right: 80px;
    cursor: pointer;
    background-color: $lightbluegreen;
    border-radius: 4px;
    color: $darkbluegreen;
    font-weight: 500;
    position: relative;

    &:hover {
        background-color: $lightbluegreen;
        border-radius: 4px 4px 0 0;

        ul {
            display: block;
        }
    }

    ul {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: $lightbluegreen;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        padding: 0;
        margin: 0;
        list-style: none;
        width: 200px;
        border-radius: 0 0 4px 4px;

        li {
            padding: 12px 16px;
            color: $darkbluegreen;
            text-align: left;
            border-bottom: 1px solid #e7e7e7;

            &:last-child {
                border-bottom: none;
            }

            &:hover {
                background-color: $light;
            }
        }
    }
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
  }
  
  .dark-mode .header {
    background-color: $darkbluegreen;
  }
  