@import 'src/styles/vars';

.avatar {
    display: inline-block;
    border-radius: 50%; // Zorg ervoor dat de container rond is

    &.avatar-small {
        width: 128px;
        height: auto;

        img {
            width: 100%;
            height: 100%;
            border-radius: 20%;
            border: 2px solid $gold;
        }
    }

    &.avatar-large {
        width: 24px;
        height: 24px;

        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }
}