/* Stijlen voor het hele App container */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  max-width: 100vw;
  overflow-x: hidden;
}

/* Stijlen voor de main content */
.App-main {
  flex: 1;
  padding: 20px;
}

/* Stijlen voor de footer */
.App-footer {
  position: relative;
  height: 48px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  overflow: hidden;
  z-index: 1;
}

.App-footer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top left, #FFA800 50%, #F2F3D9 50%);
  z-index: -1;
}

.App-footer p {
  margin: 0;
  z-index: 1;
  padding-right: 16px;
  padding-top: 8px;
}

/* Dark mode stijlen */
.dark-mode {
  background-color: #121212;
  color: white;
}

.dark-mode .App-footer {
  background: linear-gradient(to top left, #333 50%, #555 50%);
}

.dark-mode .App-footer p {
  color: #ddd;
}