@import url('https://fonts.googleapis.com/css2?family=Mina&family=Rokkitt:ital,wght@0,300..900;1,300..900&display=swap');

/* CSS reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Colors */

:root {
  --black: #000;
  --light-grey: #dadada;
  --blue: #00A8E1;
  --green: #C6C72E;
  --light-green: #e6e693;
  --orange: #F89200;
  --red: #FF0000;
  --white: #FFF;
  --transparent-white: #FFFFFFBF;
}

/* Typography */

html {
  font-size: 16px;
}

body {
  font-family: 'Mina', sans-serif;
  font-weight: 400;
  color: var(--black);
}

/* -- Headings */

/* ---- Shop name */
h1 {
  font-family: 'Mina', sans-serif;
  font-size: 2.25rem;
  letter-spacing: .1rem;
  line-height: 100%;
  color: var(--white);

  @media screen and (max-width: 600px) {
    font-size: 1.6875rem;
  }
}

/* ---- Page titles */
h2 {
  font-size: 2.25rem;

  @media screen and (max-width: 912px) {
    font-size: 1.75rem;
    text-align: center;

    @media screen and (max-width: 600px) {
      font-size: 1.25rem;
    }
  }
}

h3 {
  font-size: 1.5rem;
  text-align: center;

  @media screen and (max-width: 912px) {
    font-size: 1rem;
  }
}

/* Images */

img {
  width: 100%;
}

/* Headers */

main header {
  margin-bottom: 50px;  
}

/* Sections */

section {
  margin: 50px 0;
}

/* Dropdown-menus */

select {
  padding: 10px;
}

select:hover {
  cursor: pointer;
}

/* Buttons */

button {
  font-family: 'Rokkitt', sans-serif;
  font-size: 0.875rem;
}

button:hover {
  cursor: pointer;
}